RewriteEngine On

# Redirect /survey.php to /survey
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)/?$ $1 [NC,L]

# Set homepage to home.php
RewriteRule ^$ home.php [L]
